@import 'variables';
@import 'bootstrap/scss/bootstrap';

.ht-line {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    .ht-element {
        display: flex;
        justify-content: space-around;
    }
}
.gallery {
    display: flex;
    width: 100%;
    justify-content: space-between;
    .photo {
        display: flex;
        justify-content: space-around;
        gap: 10px;
        align-items: baseline;
        img {
            height: auto;
            width: 130px;
        }
    }
}
